<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<form class="form-horizontal" style="margin: 10px 0px 0px 30px;" id="insert">
			<div class="form-group">
				<fieldset disabled="">
					<label class="col-sm-2 control-label">供应商编码：</label>
					<div class="col-sm-10">
						<input type="text" v-model="gdept.gysbm" class="form-control " id="inputEmail3" placeholder="供应商编码">
					</div>
				</fieldset>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">供应商名称：</label>
				<div class="col-sm-10">
					<input type="text" v-model="gdept.gysarr" class="form-control" id="inputEmail3" placeholder="供应商名称">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">联系人：</label>
				<div class="col-sm-10">
					<input type="text" v-model="gdept.phoneName" class="form-control" id="inputEmail3" placeholder="联系人">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">联系电话：</label>
				<div class="col-sm-10">
					<input type="text" v-model="gdept.phone" class="form-control" id="inputEmail3" placeholder="联系电话">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">传真：</label>
				<div class="col-sm-10">
					<input type="text" v-model="gdept.cz" class="form-control" id="inputEmail3" placeholder="传真">
				</div>
			</div>

			<div class="form-group">
				<div>
					<label class="col-sm-2 control-label">&nbsp;</label>
					<input type="button" class="btn btn-success" name="" id="" @click="ine" value="保存" />
					<input type="button" name="" id="" class="btn btn-danger" onclick="del()" value="返回" />
				</div>
			</div>
		</form>
	</body>
	<script>
		var vn = new Vue({
			el: "#insert",
			data: {
				gdept: {
					gysbm: '',
					gysarr: '',
					phoneName: '',
					phone: '',
					cz: '',
					gdate: ''

				},
				hh: {}
			},
			methods: {
				ine() {
					let _this = this;
					$.ajax({
						url: "http://127.0.0.1:8080/api/ni/person",
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.gdept),
						dataType: "json",
						success(d) {
							if(d.code == '200') {
								showAlertDialog("更新成功");
								closeWindowDialog();
								vmList.page(1,2,"1","2");
							} else {
								showAlertDialog("更新失败");
							}
						}
					});
				},
				show() {

				}
			},
			mounted() {
				let id = window.sessionStorage.getItem("id");
				let _this = this;
				$.getJSON("http://127.0.0.1:8080/api/ni/" + id, function(da) {
					_this.gdept = da.data;
				})
			}
		})

		function l() {
			showAlertDialog("保存成功");
			closeWindowDialog();
		}

		function del() {
			if(confirm("确认返回吗?")) {
				closeWindowDialog();
			}
		}
	</script>

</html>